HTML/sessional-1/q5.dtd

<!ELEMENT students (student+)>

<!ELEMENT student (rollno, name, email, department)>

<!-- rollno should be numeric (represented using PCDATA in DTD) -->
<!ELEMENT rollno (#PCDATA)>

<!ELEMENT name (#PCDATA)>

<!-- email is mandatory -->
<!ELEMENT email (#PCDATA)>

<!-- department allowed values -->
<!ELEMENT department (CSE | ECE | ME)>

<!ELEMENT CSE (#PCDATA)>
<!ELEMENT ECE (#PCDATA)>
<!ELEMENT ME (#PCDATA)>
